@model JobsityChat.ViewModels.ConversationVM

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/roomChat.css" />

<h4>Room</h4>
<h2>@Model.RoomName</h2>
@Html.HiddenFor(model => model.RoomName)
@Html.HiddenFor(model => model.RoomId)
<hr />


@foreach (var message in Model.Messages)
{
    bool me = User.Identity.Name == message.SenderUser;
    var sender = me ? "Me" : @message.SenderUser;
    var color = me ? "messageContainerDarker" : "messageContainer";

    <div class=@color>
        <strong>@sender</strong><br>
        @message.Text
        <span class="time-right">@message.datetime.ToShortTimeString()</span>
    </div>
}

<input id="newMessage" class="col-10" type="text" placeholder="Type here!" />
<button id="sendButton" type="button" class="col-1" disabled onclick="sendMessage()">Send</button>


<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to Rooms</a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/roomchat.js"></script>
